.classpath
.project
.settings
karaf/karaf-assembly/target/
karaf/karaf-bundle-a/target/
karaf/karaf-bundle-b/target/
karaf/karaf-bundle-c/target/
karaf/karaf-kar/target/
karaf/karaf-wab/target/
.idea
*.iml
